/*general*/
/* navbar */

/*section presenation*/
#presentation h2{
    font-weight: bold;

}
/*section skills*/
.navbar-nav{
    padding-left: 55% !important;
}
.skills-text{
    margin: -5px 0 0 5px;
}
svg{
    fill: blue
}

/*footer*/
footer svg{
    margin-left: 10px;
}
