/*general*/
.container{
    padding-left: 0;
}
/* navbar */
.navbar-brand{
    padding-left: 3em;
}
.navbar-nav{
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    margin-left: -17em;
}
.navbar-collapse{
    padding-left: 0;    
}
/*section presenation*/
#presentation h2{
    font-weight: bold;

}
/*section skills*/
.navbar-nav{
    padding-left: 55% !important;
}
.skills-text{
    margin: -5px 0 0 5px;
}
svg{
    fill: blue
}

/*footer*/
footer svg{
    margin-left: 10px;
}
