.icon-timeline{
    border-radius: 50%;
    background-color: orange;
}

/*cards*/
.card{
    margin:-58px 0 0 5%;
}
/*card header*/
.timeline-header{
    background-color: orange;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

/* card body*/
.card-body{
    background-color: black;
    color: white;
    
}


/*timeline body*/
h5.card-title{
    font-weight: bold;
    font-size: 20px;
}


/* vertical timeline */
ul.timeline {
    list-style-type: none;
    padding-left: 1rem;
    margin: 0;
}
.timeline::before{
    content: ' ';
    background: orange;
    display: inline-block;
    position: absolute;
    left: 25px;
    top: 45px;
    width: 4px;
    height: 30%;
    z-index: 400;
    border-radius: 1rem;
    margin-top: auto;
}

