.icon-timeline{
    border-radius: 50%;
    background-color: orange;
}

/*cards*/
.card-body{
    background-color: black;
    color: white;
}

/* vertical timeline */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1rem;
    margin: 0;
}
.timeline::before{
    content: ' ';
    background: orange;
    display: inline-block;
    position: absolute;
    left: 25px;
    top: 45px;
    width: 4px;
    height: 30%;
    z-index: 400;
    border-radius: 1rem;
    margin-top: auto;
}